/**********************
index-NEW.css
Copyright 2020 Derek Erb Solutions
https://derekerb.solutions

v1.0

**********************/

/*********************************************************************
	FONTS
*********************************************************************/
@font-face {
    font-family: "Caslon";
    src: url("/fonts/CaslonCP.otf") format("otf");
}

/*********************************************************************
	DEFAULTS
*********************************************************************/
:root {

    --PgBack: white;
    --PgFore: #88853A;
    --Dark: #000000;
    --LighterDark: grey;

    --FontJardins: "Caslon", times, serif;


    --FontBody: Urbanist, sans-serif;
    --FontBtns:	arial, helvetica, sans-serif;

    --LinkBack: var(--PgBack);
    --LinkFore: var(--PgFore);
}

/**********************
	BLOCKS
**********************/

body {
    background: var(--PgBack);
    color: var(--PgFore);

    font-family: var(--FontBody);

    margin: 0 auto;
    padding: 0;

}

    /* ---------------------------- SMARTPHONES -------------------------- */
    @media screen and (min-width: 480px) {
        body {
            max-width: 480px;
        }
    }

    /* ----------------------------- TABLETS ----------------------------- */
    @media screen and (min-width: 800px) {
        body {
            max-width: 800px;
        }
    }

    /* ----------------------------- DESKTOPS ---------------------------- */
    @media screen and (min-width: 1200px) {
        body {
            max-width: 1200px;
        }
    }

    /* ------------------------------- PRINT ----------------------------- */
    @media print {
        body {
            display: inherit;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            -webkit-column-break-after: avoid;
            page-break-after: avoid;
            break-after: avoid;
        }

        ul, ol {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    @media print and (color) {
        /* Force print backgrounds */
        * {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }


/**********************
	DEFAULTS
**********************/

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    /* ------------------------------- PRINT ----------------------------- */
    @media print {
        html {
            font-size: 14pt;
        }
    }

a {
    text-decoration: none;
    border-bottom: transparent 0.125em solid;
    color: var(--PgFore);
    background: var(--PgBack);
}

    /* ---------------------- DEVICES WITHOUT HOVER ---------------------- */
    @media (hover: none) {
        a {
            color: var(--LinkFore);
            text-decoration: none;
            border-bottom: var(--PgFore) 0.125em solid;
            -webkit-text-decoration-color: var(--PgFore);
        }

        a.vernum {
            text-decoration: none;
            border-bottom: none;
        }
    }

a:hover, a:focus {
    color: var(--LinkFore);
    text-decoration: none;
    border-bottom: var(--PgFore) 0.125em solid;

    -webkit-text-decoration-color: var(--PgFore);
}

button {
    background-color: var(--PgFore);
    color: var(--PgBack);
    border: 1px solid slategray;
    border-radius: 10px;
    font-family: var(--FontBtns);
}

button:active {
    border: 4px solid red;
}

div, p {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin:  1em 0;
    padding: 0;
    font-family: var(--FontJardins);
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    color: var(--Dark);
}

img, embed, object, video {
    max-width:	100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/**********************
	BLOCKS
**********************/

#iEmail {
    margin: 2em;
}

.infoButton {
    padding: 0.8em;
    background-color: var(--PgFore);
    color: white;
    white-space: nowrap;
    border-radius: 25px;
    box-shadow: 2px 2px 5px var(--LighterDark);
    transition: background-color 0.6s;
}
.infoButton:hover {
    background-color: white;
    border: solid 0.125em var(--PgFore);
}

span.spNobr {
    white-space: nowrap;
}


/**********************
	HEADER
**********************/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 30vh;
}

/**********************
	SECTIONS
**********************/

section {
    margin-bottom: 2em;
}

.sectContact, .sectHero, .sectProducts, .sectAbout, .sectAccess {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectAccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--LighterDark);
    padding: 1em;
    margin: 1em;
}

    /* ---------------------- TABLETS AND DESKTOPS ----------------------- */
    @media screen and (min-width: 1200px) {
        .sectAccess {
            width: 70%;
            margin: 1em auto;
        }
    }

.sectContact > * {
    margin: 0.5em 0;
}

.sectContact #dContact {
    margin: 0 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectHero picture {
    width: 100%;
}
.sectHero picture img {
    width: 100%;
}

    /* ---------------------- TABLETS AND DESKTOPS ----------------------- */
    @media screen and (min-width: 800px) {
        .sectHero picture {
            width: inherit;
        }

        .sectHero img {
            border-radius: 30px;
            box-shadow: 2px 2px 5px var(--LighterDark);

        }
    }


    /* ---------------------- TABLETS AND DESKTOPS ----------------------- */
    @media screen and (min-width: 800px) {
        .sectProducts {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }

/**********************
	SUBSECTIONS
**********************/

.dAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--LighterDark);
    padding: 1em;
    margin: 1em;
}

    /* ---------------------- TABLETS AND DESKTOPS ----------------------- */
    @media screen and (min-width: 800px) {
        .dAbout {
            flex-direction: row;
            justify-content: space-around;
            padding: 3em 2em;

        }
    }

.dAbout img {
    border-radius: 30px;
    box-shadow: 2px 2px 5px var(--LighterDark);

}

.dAbout p {
    padding: 0 1.5em;
    text-align: justify;
    margin: 0 0 1em 0;
}

.dAccess {
    padding: 1em;
    text-align: center;
}

.dAccess iframe {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.dAccess p {
    text-align: center;
}

.dProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--LighterDark);
    padding: 1em;
    margin: 1em;
}

    /* ---------------------- TABLETS AND DESKTOPS ----------------------- */
    @media screen and (min-width: 800px) {
        .dProduct {
            width: 33%;
        }
    }

.dProduct img {
    border-radius: 30px;
}

.sdAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* ---------------------- TABLETS AND DESKTOPS ----------------------- */
    @media screen and (min-width: 800px) {
        .sdAbout {
            flex-direction: column;
            width: 100%;

        }
    }

/**********************
	FOOTER
**********************/

footer {
    margin: 60vh 10% 4% 10%;
    border-top: 1px solid var(--PgFore);
    padding: 2em 1em;

    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

